.textPlaceResource {
  font-size: 3.75em;
  font-weight: 600;
  line-height: 75px;
  text-align: left;
  margin-top: 100px;
  word-spacing: -0.1px;
}
.thePerfectWords {
  font-style: italic;
  color: rgba(176, 144, 122, 1);
}

.imagesResources {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 40px;
  margin-top: -20px;
}
.imgBig {
  max-width: 660px;
  height: 590px;
  border-radius: 20px;
}

.imgSmall {
  max-width: 660px;
  height: 430px;
}

.aboutOne,
.aboutTwo,
.aboutThree,
.aboutFour {
  border-radius: 20px;

  &.aboutOne,
  &.aboutThree {
    margin-bottom: 37px;
  }
  img {
    border-radius: 20px;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media (min-width: 381px) {
  .aboutOne:hover,
  .aboutTwo:hover,
  .aboutThree:hover,
  .aboutFour:hover {
    img {
      width: calc(100% + 5px);
      transition: opacity 0.35s, transform 0.35s;
      transform: scale(1.04);
    }
  }
}

@media (max-width: 768px) {
  .imgBig {
    width: 100%;
  }
  .imgSmall {
    display: none;
  }
  img {
    margin-top: -4px;
    width: 97.9%;
    height: 102%;
  }
}

@media (max-width: 380px) {
  .textPlaceResource {
    font-size: 2em;
    line-height: 40px;
    margin-bottom: 59.5px;
  }
  .imgBig {
    width: 100%;
  }
  img {
    margin-top: -14px;
    margin-left: -151px;
    width: 186.9%;
    height: 107%;
    transform: none;
  }
}
